<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button mat-raised-button color="primary" routerLink="">Főoldal</button>
    <button mat-raised-button color="primary" routerLink="/book/">Könyvek</button>
    <button mat-raised-button color="primary" routerLink="/contact">Kapcsolat</button>
    <button mat-raised-button color="primary" routerLink="/contact-us">Írjon nekünk</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
</mat-grid-list>
